<div class="row">
    <h2 class="text-center">Szablon powiadamiania zwycięzcy</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Nagłówek</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Treść</label>
            <div class="col-sm-5">
                <textarea class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <a href="#/settings" class="btn btn-success col-md-4 col-md-offset-4">Zapisz</a>
        </div>
    </form>
</div>