<div>


    <div class="row">


        <div class=" col-sm-10">
            <div class="row">
                <h3 class="text-center">Konkurs</h3>
            </div>
            <div >
                <div class="row" style=" font-size: 1.4em">
                    <div class="col-sm-3 text-right">Data</div>
                    <div class="col-sm-5">18.11.2015</div>
                </div>

                <div class="row" style=" font-size: 1.4em">
                    <div class="col-sm-3 text-right">Nazwa</div>
                    <div class="col-sm-5">Fajny konkurs dla subów</div>
                </div>
                <div class="row" style=" font-size: 1.4em">
                    <div class="col-sm-3 text-right">Nagroda</div>
                    <div class="col-sm-5">MP5</div>
                </div>
                <div class="row" style=" font-size: 1.4em">
                    <div class="col-sm-3 text-right"></div>
                    <div class="col-sm-5"><img  src="images/MP7.jpg" alt="MP7" class="img-thumbnail"></div>
                </div>

                <div class="row" style="margin-top: 50px">
                    <div class="col-sm-offset-3 col-sm-5 text-center">
                        <a href="#/rate" class="btn btn-primary btn-block">Zakończ i oceń pracę</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-2">
            <h3 class="text-center">Uczestnicy</h3>

            <div class="pre-scrollable">
                <ul>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>
                    <li>janek</li>

                </ul>
            </div>

        </div>
    </div>


</div>