
<div class="row">
    <div class="col-sm-2">
        <a href="#/management" class="btn btn-primary btn-block">Zarzadzanie<br>konkursami</a>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <h3 class="text-center">Lista konkursów w których bierzesz udział</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Data</th>
                    <th class="col-sm-4">Nazwa</th>
                    <th class="">Nagroda</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>18.11.2015</td><td>Dla subów</td><td>MP5</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3 class="text-center">Lista konkursów w których brałeś udział</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Data</th>
                    <th class="col-sm-4">Nazwa</th>
                    <th class="">Nagroda</th>
                    <th class="col-sm-2">Wygrana</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>18.11.2015</td><td>Dla subów</td><td>MP5</td><td>Nie</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>