
<div class="row">
    <div class="col-sm-2"><a href="#/create" class="btn btn-primary btn-block">Utwórz<br>konkurs</a></div>
    <div class="col-sm-8"> <h3 class="text-center">Zarządzanie konkursami</h3></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <h3 class="text-center">Aktualnie trwające konkursy</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Data</th>
                    <th class="col-sm-3">Nazwa</th>
                    <th class="col-sm-2">Typ</th>
                    <th class="col-sm-3">Nagroda</th>
                    <th class="col-sm-2">Szczegóły</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>18.11.2015</td><td>Dla subów</td><td>Losowanie</td><td>MP5</td><td><a href="#/draw" class="btn-link">Przejdź</a></td>
                </tr>
                <tr>
                    <td>18.11.2014</td><td>Dla subów</td><td>Konkurs</td><td>MP5</td><td><a href="#/competition" class="btn-link">Przejdź</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3 class="text-center">Zakończone konkursy</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Data</th>
                    <th class="col-sm-3">Nazwa</th>
                    <th class="col-sm-2">Typ</th>
                    <th class="col-sm-2">Nagroda</th>
                    <th class="col-sm-1">Zwycięzca</th>
                    <th class="col-sm-2">Szczegóły</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>18.11.2015</td><td>Dla subów</td><td>Konkurs</td><td>MP5</td><td>Jarek123</td><td><a href="#/winnerList" class="btn-link">Zwycięzcy</a></td>
                </tr>
                <tr>
                    <td>18.11.2014</td><td>Dla subów</td><td>Losowanie</td><td>MP5</td><td>Jarek123</td><td><a href="#/winnerList_2" class="btn-link">Zwycięzcy</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>