<div class="row">

    <h2 class="text-center">Ustawienia</h2>

    <form class="form form-horizontal">
        <div class="form-group">
            <label for="inputRules" class="col-sm-5 control-label">Trade link</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="inputRules" placeholder="Trade link" />
            </div>
        </div>

        <div class="form-group">
            <a href="#/changeTemplateTheme" class="btn btn-primary col-sm-4 col-sm-offset-4">Zmień szablon powiadamiania zwycięzcy</a>
        </div>

        <div class="form-group">
            <a href="#/index" class="btn btn-success col-sm-4 col-sm-offset-4">Zapisz</a>
        </div>
    </form>
</div>