<div>

    <h3 class="text-center">Lista zwycięzców</h3>
    <h4>Typ konkursu: Losowanie</h4>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-sm-2">Data nadesłania</th>
            <th class="">Użytkownik</th>
            <th class="col-sm-2">Ocena</th>


        </tr>
        </thead>
        <tbody>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>10/10</td>

        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>10/10</td>

        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>

        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>

        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>


        </tr>
        </tbody>
    </table>

</div>