<div>

    <h3 class="text-center">Lista zwycięzców</h3>
    <h4>Typ komkursu: Ocena prac</h4>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-sm-2">Data nadesłania</th>
            <th class="col-sm-4">Użytkownik</th>
            <th class="col-sm-2">Ocena</th>
            <th class="col-sm-2"></th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>10/10</td>
            <td>
                <a href="#/entry" class="btn-link">Zobacz prace</a>
            </td>
        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>10/10</td>
            <td>
                <a href="#/entry" class="btn-link">Zobacz prace</a>
            </td>
        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>
            <td>
                <a href="#/entry" class="btn-link">Zobacz prace</a>
            </td>
        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>
            <td>
                <a href="#/entry" class="btn-link">Zobacz prace</a>
            </td>
        </tr>
        <tr>
            <td>18.11.2015</td>
            <td>Janek</td>
            <td>5/10</td>
            <td>
                <a href="#/entry" class="btn-link">Zobacz prace</a>
            </td>

        </tr>
        </tbody>
    </table>



</div>